*/**/Debug
*/**/obj
*/**/packages

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

MS\.UIA\.PropertyCondition\.Wrapper/MS\.UIA\.PropertyCondition\.Wrapper/obj/Debug/

MS\.UIA\.PropertyCondition\.Wrapper/packages/NUnit\.3\.0\.1/lib/net20/

MS\.UIA\.PropertyCondition\.Wrapper/packages/NUnit\.3\.0\.1/lib/dotnet/

MS\.UIA\.PropertyCondition\.Wrapper/Ms\.UIA\.PropertyCondition\.Wrapper\.Tests/obj/Debug/
